// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  // font-weight: 300;
  font-style: normal;
}

.nav-group-toggle {
  color: black !important;
  background: #b8b7f0 !important;
}

.sidebar {
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .sidebar-brand {
    background: white;
    /* border-bottom: 2px solid #f0f0f0; */
    box-shadow: 0px 0px 8px 0px #d7d7d7;
    border-radius: 5px;
  }

  .nav-item,
  .nav-group {
    .nav-link {
      margin: 10px;
      border-radius: 10px;
      color: black;
      font-weight: 600;
      box-shadow: 0px 0px 10px 0px #e3e3e3;
      background : white;
      &:hover {
        background: #b8b7f0;
        color: black;
      }

      &:active {
        background: #b8b7f0;
        color: black;
      }
    }
  }
}

.sidebar-toggler {
  background: #ffffff;
  // margin: 10px;
  // border-radius: 10px;
  color: black;
}

.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 7px 15px;
  border-radius: 10px;
  background: #ffffff;
}

.card {
  border: unset;
  box-shadow: rgb(149 157 165 / 17%) 0px 1px 2px;
  // background-color: #fff0c675;
  border-radius: 10px;
  color: black;
  font-weight: 600;

  .card-header {
    border: unset;
    border-radius: 10px;
    font-weight: 700;
    background-color: white;
    box-shadow: rgb(149 157 165 / 17%) 0px 1px 2px;
    margin: 7px;

    h3 {
      font-size: 24px;
      margin: 0;
    }
  }

  .card-body {
    .form-control {
      padding: 15px;
      border: unset;
      font-weight: 600;
    }

    .form-label {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

button.btn.btn-outline-primary {
  border: 1px solid lightgray;
  background: white;
  padding: 10px 60px;
  border-radius: 30px;
  font-weight: 700;
}

.card-group {
  .card-body {
    form {
      h1 {
        text-align: center;
        // text-decoration: underline;
        font-size: 28px;
        line-height: 30px;
      }

      .text-medium-emphasis {
        text-align: center;
      }

      .form-control {
        border: 1px solid #8080802b;
        border-left: 0;
      }

      button {
        display: block;
        margin: 0 auto;
        padding: 10px 80px;
        width: 230px;
        border-radius: 20px;
      }
    }
  }
}

.sidebar-nav .nav-link.active .nav-icon {
  color: white !important;
}

.sidebar-nav .nav-link.active .nav-icon :hover {
  color: white !important;
}

.sidebar-nav .nav-icon {
  color: black !important;
}

.sidebar-nav .nav-icon:hover {
  color: white !important;
}

.simplebar-content {
  .nav-item {
    &:first-child {
      .nav-link {
        color: black;
        border: 1px solid gainsboro;

        &:active {
          .nav-item {
            color: white !important;
          }
        }
      }
    }
  }
}

.card.p-5 {
  background-color: white;
}

.logo-text {
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 0;
  font-weight: 600;
  // background: -webkit-linear-gradient(#6d6be7 50%, #f00 62%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
.countCard {
  background: linear-gradient(45deg, #6d6be730 46%, #6d6be778 41%);
}

.formCardss {
  box-shadow: 0px 0px 8px 0px #bcbcbc;
  padding: 18px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 15px;
}
.detailHeader {
  box-shadow: 0px 0px 17px 0px white !important;
  border: 1px solid #e2e2e2 !important;
  background: #e4e3fb !important;
}
.spiltFormHead {
  background: #ffffff !important;
  border-radius: 8px 10px 0px 0px !important;
  margin: 0px !important;
  box-shadow: 0px 2px 0px 0px #c1c1c1 !important;
  padding: 15px;
  border: 1px solid #e3e3e3 !important;
}
.spiltForm {
  background: #ffffff;
  /* border: 1px solid #d9d9d9 !important; */
  /* box-shadow: none !important; */
  box-shadow: 0px 3px 6px 0px #cecece;
}
.width-max {
  width: max-content !important;
}
