.container-1{
    margin: 5rem;
}
.model-wrapper{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(189,189,189,0.9);
    z-index: 20;
    
}
.model-container
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
/* react-toastify.css */

/* Base styles */
.ReactToastify {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    position: fixed;
    width: 320px;
    z-index: 9999;
    padding: 8px;
    margin: 8px;
    transition: 0.3s ease-out;
  }
  
  /* Toast position: Top-Right */
  .ReactToastify--top-right {
    top: 8px;
    right: 8px;
  }
  
  /* Toast position: Top-Center */
  .ReactToastify--top-center {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Toast position: Top-Left */
  .ReactToastify--top-left {
    top: 8px;
    left: 8px;
  }
  
  /* Toast position: Bottom-Right */
  .ReactToastify--bottom-right {
    bottom: 8px;
    right: 8px;
  }
  
  /* Toast position: Bottom-Center */
  .ReactToastify--bottom-center {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Toast position: Bottom-Left */
  .ReactToastify--bottom-left {
    bottom: 8px;
    left: 8px;
  }
  
  /* Toast content */
  .ReactToastify__toast {
    position: relative;
    min-height: 64px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
    color: #333;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
  /* Toast content: Close button */
  .ReactToastify__close-button {
    color: #fff;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }
  
  /* Toast content: Progress bar */
  .ReactToastify__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #007aff;
    z-index: 9998;
  }
  
  /* Toast content: Success */
  .ReactToastify__toast--success {
    background: #5cb85c;
    color: #fff;
  }
  
  /* Toast content: Error */
  .ReactToastify__toast--error {
    background: #d9534f;
    color: #fff;
  }
  
  /* Toast content: Warning */
  .ReactToastify__toast--warning {
    background: #f0ad4e;
    color: #fff;
  }
  
  /* Toast content: Info */
  .ReactToastify__toast--info {
    background: #5bc0de;
    color: #fff;
  }
  